@model Hikaya.DAL.Story
@using Hikaya.DAL;
@{
    ViewBag.Title = "Story Details";
}

<h2 class="story-header">@Model.Title</h2>
<div>
    <h2 class="story-header">@Model.Tags</h2>
</div>
<hr />
<div class="story-plot-wrapper">
    @foreach (StoryPlot storyPlot in Model.StoryPlots)
    {
        <div class="row story-plot-item">
            <div class="col-md-4">
                <img src="@storyPlot.ImageUrl" alt="Alternate Text" />
            </div>
            <div class="col-md-8">
                <p>@storyPlot.Text</p>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Send Message", "Send", "Message", new { id = Model.Id}, new { @class = "btn btn-primary"})
</div>